* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #eeeded;
	font-family: Poppins-Regular, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

i {
    margin: 0 10px;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

hr {
    margin: 10px 0;
}

/* MUFFIN */

.muffin-container {
    width: 100%;
    margin: 0 auto;
}

/* FORMS */
.muffin-form-wrap {
    width: 960px;
    height: 550px;
    overflow: hidden;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0.5em;
    padding: 65px 100px 33px 100px;
    justify-content: space-around;
    box-sizing: border-box;
}

.form-img {
    width: 356px;
    margin-top: 10%;
}

.form-img img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.form-heading {
    font-family: Poppins-Bold;
    font-size: 24px;
    width: 100%;
    display: block;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 54px;
}

.form-item {
    font-family: Poppins-Medium;
    font-size: 15px;
    background: #e6e6e6;
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 25px;
    display: block;
    padding: 0 10px 0 20px;
}

.form-item-invalid {
    color: red;
    margin-top: 5%;
    display: none;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.form-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.form-button {
    font-family: Montserrat-Bold;
    width: 100%;
    background-color: #9299b4;
    text-transform: uppercase;
    color: #fff;
}

/* LOGIN */

.login-form {
    width: 300px;
}

.info-message-success {
    display: none;
    align-items: center;
    background-color: #83d16094;
    border-radius: 25px;
    padding: 0 20px;
}

.info-message-error {
    display: none;
    align-items: center;
    background-color: #d1606094;
    border-radius: 25px;
    padding: 0 20px;
}

/* REGISTER */

.register-form {
    width: 350px;
}

.register-form-wrap {
    height: 700px;
    margin-bottom: 50px;
}

.register-form-wrap .form-img {
    margin-top: 18%;
}

/* MAINPAGE */

.main-container {
    display: flex;
}

    /* NAVIGATION */

.muffin-navigation {
    align-items: center;
    height: 20%;
    margin: 3%;
    padding: 20px;
    width: 20%;
    border-radius: 25px;
    background-color: white;
}

.new-mail {
    width: 100%;
    border-radius: 25px;
    background-color: #9299b4;
    padding: 10px;
    text-align: left;
}

.new-mail button {
    width: 100%;
    font-size: 22px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
}

.accordion {
    display: flex;
    align-items: center;

    background-color: #eeeded;
    color: #444;
    cursor: pointer;
    margin: 8px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 25px;
    text-align: left;
    font-size: 22px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #f4f4f4;
}

.mail-boxes {
    display: none;
    background-color: white;
    overflow: hidden;
}

.mail-boxes ul {
    font-size: 18px;
    padding-left: 40px;
}

.mail-boxes li {
    padding: 10px 14px;
    border-radius: 25px;
}

.mail-boxes li:hover {
    background-color: #eeeded;
}

.mail-boxes button {
    display: flex;
    font-size: 18px;
    padding-left: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.mail-boxes i {
    color: #9299b4;
}

.muffin-exit {
    width: 100%;
    border-radius: 25px;
    background-color: #9299b4;
    padding: 10px;
}

.muffin-exit button {
    width: 100%;
    font-size: 22px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
}

    /* MAIN */

.main-frame {
    font-family: Montserrat-Bold;
    align-items: center;
    margin: 3%;
    padding: 20px;
    width: 60%;
    border-radius: 25px;
    background-color: white;
}

.main-frame ul {
    display: flex;
    padding: 2px;   
}

.main-frame li {
    padding: 2px;
}

/* MAILS */

.mails {
    display: block;
}

.mails ul {
    display: flex;
    font-family: Poppins-Medium;
    background-color: #eeeded;
    justify-content: space-between;
    padding: 7px 15px;
    margin-bottom: 2px;
}

.mails li {
    float: left;
}
/* SEND MESSAGE */
.info-send-message-error {
    display: none;
    color: red;
    font-size: 18px;
    margin-left: 15%;
}


.send-mail {
    display: none;
}

.send-mail button {
    color: white;
}

.mail-type {
    margin: 5px;
}

.mail-type-choice {
    display: flex;
    justify-content: flex-start;
}

.input-holder {
    display: flex;
    margin-right: 20px;
}

.mail-type-choice input[type=radio] {
    width: 15px;
    height: 20px;
}

.mail-input {
    width: 100%;
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.mail-input select {
    width: 100%;
    border-radius: 20%;
    padding: 10px;
    margin: 10px;
    background-color: #eeeded;
}

.mail-type label {
    margin-bottom: 10px;
    margin-right: 10px;
}

.muffin-send-button {
    background-color: #9299b4;
    font-size: 18px;
    border-radius: 25px;
    width: 15%;
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 7px;
}

/* CREATE BOX */

.create-box {
    display: none;
}

.create-box .box-ref-number {
    display: none;
}

.create-box label{
    width: 25%;
    margin-bottom: 10px;
    margin-right: 5px;
}

.create-box button {
    float: right;
    color: white;
}

/* READ MAIL */
.read-mail {
    display: none;
}

.letter-subject {
    font-size: 25px;
    font: bold;
}

.letter-header {
    text-align: left;
    margin: 7px;
    border-spacing: 10px;
}

.message-panel {
    border: 2px solid #eeeded;
    border-radius: 25px;
    padding: 20px;
    font-size: 16px;
}

.message-opts {
    display: flex;
}

.message-opts button {
    width: 17%;
    color: white;
}

.main-frame textarea {
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.logo {
    width: 100%;
    text-align: center;
}

.brand {
    font-weight: 500;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 96px;
}